backoff==1.11.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.1
idna==3.3
opencage==2.0.0
phonenumbers==8.12.44
Pillow==9.0.1
pycparser==2.21
pyOpenSSL==22.0.0
requests==2.27.1
urllib3==1.26.8
